.social-media-icons {
    display: flex;
    justify-content: center;
    column-gap: 1rem;

    a {
        color: inherit;
        i {
            cursor: pointer;
            position: relative;
            padding: 0.6rem;
            transition: 0.5s;
            border-radius: 50%;
            background-color: gold;
            color: black;
            &:hover {
                box-shadow: 0px 0px 7px 5px gold;
            }

        }
    }
}