:root {
  --text-primary: white;
  --text-secondary: #ffbd39;
  ;
}

.banner {
  flex-wrap: wrap-reverse;
  line-height: 1px;
}

.banner img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  padding: 10px;
  transition: 2s;
  border: 3px solid transparent;
  animation: profile-animation 1s infinite;
}

.title-wrapper {
  display: inline-block;
  flex-wrap: nowrap;
}

.title-wrapper span:nth-child(1) {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.title-wrapper h1 {
  color: var(--text-primary);
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 4rem;
}

.title-wrapper span:nth-last-child(2n) {
  line-height: 1px;
  margin-left: 10px;
  color: var(--text-secondary);
}

.title-wrapper h4 {
  line-height: 1px;
  font-size: 1.5rem;
  color: var(--text-primary);
}

.title-wrapper h4::after {
  content: '}';
  color: var(--text-secondary)
}

.title-wrapper h4::before {
  content: '{';
  color: var(--text-secondary)
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.about-section img {
  height: 250px;
  width: 250px;
  border-radius: 20%;
  padding: 10px;
  transition: 2s;
  border: 3px solid transparent;
  animation: about-profile-animation 3s forwards infinite;
}

.about-section div:last-child {
  margin-top: 1rem;
  font-size: 1rem;
  word-spacing: 2px;
  text-align: start;
}

.about-section>div>span {
  font-weight: 900;
  margin-bottom: 10px;
}

.about-section>div>div::after {
  content: '}';
  font-size: 1.2rem;
  color: var(--text-secondary);
}
.about-section>div>div::before {
  content: '{';
  font-size: 1.2rem;
  color: var(--text-secondary);
}
.about-section>div>div>p {
  color:  skyblue;
  padding-left: 10px;
}
.about-section>div>div>p>span {
  padding-left: 10px;
  color:  rgb(207, 134, 0)
}
.about-section>div>div>p>span:last-child {
  color:  var(--text-primary)
}

@media (min-width:769px){
  .about-section img{
   margin-right: 2rem;
  }
}
@media (max-width:768px) {
  .banner img {
    height: 250px;
    width: 250px;
  }

  .about-section>div {
    margin-top: 2rem;
  }
  /* .about-section table tbody{
    font-size: 1rem;
  } */
}

@keyframes profile-animation {
  0% {
    filter: saturate(0%);
    border-left: 3px solid #ffbd39;

  }

  25% {
    border-top: 3px solid #ffbd39;
  }

  50% {
    filter: saturate(50%);
    border-right: 3px solid #ffbd39;
  }

  100% {
    border-bottom: 3px solid #ffbd39;
    filter: saturate(100%)
  }
}

@keyframes about-profile-animation {
  0% {
    filter: saturate(0%);
    border-radius: 30%;
    border-left: 3px solid #ffbd39;
  }

  25% {
    border-radius: 45%;
    border-top: 3px solid #ffbd39;
    transform: translateY(-5px);
  }

  50% {
    border-radius: 50%;
    filter: saturate(50%);
    border-right: 3px solid #ffbd39;
  }

  100% {
    border-bottom: 3px solid #ffbd39;
    filter: saturate(100%)
  }
}

.container>div>div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text {
  padding-left: 1rem;
  font-size: 6vh;
  color: #545864;
}

.text span {
  display: inline-block;
  position: relative;
}

.slopeBegin {
  background-color: #131419;
  clip-path: polygon(20% 0, 70% 0, 50% 100%, 0% 100%);
}

.slopeEnd {
  clip-path: polygon(70% 0, 100% 0, 80% 100%, 50% 100%);
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 170%;
  height: 106vh;
  cursor: pointer;
}

.pink {
  background: linear-gradient(to right, deeppink 0%, coral 100%);
}

.teal {
  background: linear-gradient(to right, SlateBlue 0%, DeepSkyBlue 100%);
}

.tomato {
  background: linear-gradient(to right, tomato 0%, gold 100%, orange);
}

.designation {
  font-size: 6vmin;
  color: #adaeb3;
  border-bottom: 1px white
}

.name {
  font-size: 7dvh;
  color: var(--text-secondary);
  line-height: 50px;
}

.navbar li a {
  text-decoration: none;
  color: #ffff;
  font-weight: 300;
  font-size: 15px;
  border-radius: 20px;
  border: 1px solid transparent;
}

.navbar li:not(:last-of-type) {
  margin-right: 5px;
}

.navbar li {
  text-decoration: none;
  color: #ffff;
  font-weight: 300;
  font-size: 15px;
  padding: 5px 12px 5px 12px;
  border-radius: 20px;
  border: 1px solid transparent;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  list-style-type: none;
  justify-content: center;
  display: inline;
}

.navbar ul {
  list-style-type: none;
  margin-inline: 0.1rem;
  padding: 0;
  border-radius: 100px;
}

.navbar li:hover {
  cursor: pointer;
  border: 1px solid var(--text-secondary);
}

.active-item {
  color: #131419 !important;
  background-color: var(--text-secondary) !important;
}