body {
  margin: 0;
  background-color: #060606;
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar{
  display: none;
}